/* COLORS */
:root {
  --green: #5fd788;
  --grey: #f3f4f6;
  --grey500: #6b7280;
  --grey400: #9ca3af;
  --grey50: #F9FAFB;
  --darker-grey: #4b5563;
  --grey800: #1F2937;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0;
  padding: 0; 
  /* outline: 1px solid red; */
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey400);
  
}

section {
  margin-top: 6rem;
}


h1 {
  font-size: 2rem;
  color: var(--green);
}

.header {
  height: 100vh;
  width: 100%;
}

.btn {
  color: #fff;
  height: 40px;
  width: 274px;
  background-color: var(--green);
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  border: none;
  font-weight: 700;
}

.btn:hover {
  color: var(--grey800);
  background-color: #fff;
}

/* MOBILE NAV SECTION */
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 20px 0;
  width: 100%;
  top: 0;
  transition: all 400ms ease;
  z-index: 1;
}

nav.scrolled {
  background-color: var(--green);
  box-shadow: 0 8px 14px 8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 15px 15px;
  top: 0;
  color: #fff;
}

nav.scrolled .logo p {
  color: #fff;
}

.mobile-nav .logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-left: 2rem;
}

.logo svg{
  width: 24px;
}

.logo p {
  font-size: 1.2rem;
  color: var(--grey800);
}

.mobile-nav-menu-icon{
  width: 26px;
  margin-right: 2rem;
}

.mobile-nav p{
  padding: 0;
}

.mobile-nav-menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  /* left: 0; */
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease;
}

.mobile-nav-menu-container.active {
  left: 0;
}

.mobile-nav-menu-container.active .close-icon {
  opacity: 1;
  pointer-events: auto;
}

.mobile-nav-menu-container.active .sub-menu {
  pointer-events: auto;
  opacity: 1;
}

.right-menu {
  display: none;
}

.sub-menu {
  position: fixed;
  top: 25px;
  left: 100px;
  pointer-events: none;
  /* display: none; */
  opacity: 0;
  transition: all 400ms ease;
}

.sub-menu svg{
  width: 36px;
  height: 36px;
  margin: 16px;
  cursor: pointer;
}

.sub-menu svg path {
  fill: #fff;
}

.close-icon {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: all 400ms ease;
  top: 32px;
  right: 25px;
}

.close-icon svg {
  width: 48px;
  height: 48px;
}

.close-icon svg path {
  fill: #fff;
}

.mobile-nav-menu {
  list-style: none;
  padding: 0;
}

.mobile-nav-item {
  text-align: center;
  margin: 100px 0;
  transition: all 400ms ease;
}

.mobile-nav-item:hover {
  transform: scale(1.1);
}

.mobile-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
}

/* HERO SECTION */
.hero-section{
  padding-top: 100px;
  display: flex;
  margin: 0;
  /* justify-content: center; */
  align-items: center;
  padding-inline: 8vw;
  width: 100%;
  /* height: 100vh; */
  flex-direction: column-reverse;
}

.hero-right{
  position: relative;
  /* width: 100%; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-right .hero-bottles{
  position: absolute;
  
  width: 140px;
  height: auto;
  z-index: 0;
}

.hero-right .hero-blob{
  z-index: -1;
  width: 226.53px;
  height: auto;
}

.hero-left{ 
  /* width : 100%;  */
  margin-top: 2.4rem;
}

.hero-left h1{
  font-size: 4rem;
  color: var(--green);
  text-align: center;
  padding-bottom: 20px;
}

.hero-left p{
  font-size: 1.2rem;
}

/* ABOUT SECTION */
.about-section{
  width: 100%;
}

.about-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}

.about-card{
  /* padding: 70px; */
  background-color: var(--grey50);
  height: 122px;
  width: 122px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0 20px;
  transition: all 0.3s ease;
  color: var(--green);
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-card h4{
  font-size: 1.4rem;
  padding-top: 0.8rem;
}

.about-card:hover {
  background-color: var(--green);
  color: #fff;
}

.about-card svg path:first-child {
  transition: all 0.3s ease;
}

.about-card:hover svg path:first-child {
  fill: #fff;
}

.about-card svg{
  width: 45px;
  height: 45px;
}

/* EXPLORE SECTION */
.explore-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.explore-left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* margin-top: 100px; */
}

.explore-left .explore-incense{
  width: 155.27px;
  height: 137.38px;
  position: absolute;
}

.explore-left .explore-blob{
  width: 190px;
}

.explore-right{
  text-align: center;
  padding-inline: 8vw;
}

.explore-right h1{
  font-size: 2rem;
  padding: 4rem 0 1.2rem;
}

.explore-right p{
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

/* BESTSELLERS SECTION */
.bestsellers-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bestsellers-flower{
  width: 229px;
  height: auto;
  padding-bottom: 3rem;
}

.bestsellers-left{
  position: absolute;
  top: 100px;
  text-align: center;
}

.bestsellers-left h1{
  font-size: 3.6rem;
  padding-bottom: 2.9rem;
}

.product-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-card{
  text-align: center;
  width: 300px;
}

.product-card-info{
  text-align: left;
}

.bestsellers-right img{
  width: 298px;
  height: 310px;
}

.product-card-info{
  background: rgba(255, 255, 255, 0.6);
  /* backdrop-filter: blur(7.5px); */
  border-radius: 0 20px;
  padding: 1rem 3rem;
  position: relative;
  top: -77px;
  width: 100%;
  height: 72px;
}

.product-card-title {
  display: flex;
  align-items: center;
}

.product-card h4{
  font-size: 1.5rem;
  color: var(--grey800);
  width: fit-content;
  padding-right: 1rem;
}

.product-card-title p{
  color: #fff;
  background-color: var(--green);
  padding: 0.3rem 0.8rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 8px;
  width: fit-content;
}

.product-card-description{
  font-size: 1.1rem;
  color: var(--grey500);
}

/* SOAPS SECTION */
.soaps-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  height: 60vh;
  margin: 0;
}

.soaps-left{
  /* transform: translateY(320px); */
}

.soaps-left h1{
  font-size: 3.2rem;
  color: white;
  font-weight: 500;
  z-index: 1;
  padding-bottom: 3.8rem;
}

.soaps-left .btn{
  background-color: #fff;
  color: var(--grey800);
}

.soaps{
  max-width: 376px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* TRENDS SECTION */
.trends-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.trends-flower{
  width: 260px;
  height: auto;
  padding-top: 6rem;
  position: absolute;
  /* left: 20%; */
  z-index: -1;
  top: 0;
}

.trends-left{
  padding-top: 15rem;
  padding: 15rem 0 15.7rem;
}

.trends-left h1{
  font-size: 3.6rem;
  padding-bottom: 3.2rem;
}

.trends-right img{
  width: 100%;
}

/* BLOG SECTION */
.blog-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  position: relative;
  padding-bottom: 4.6rem;
}

.blog-section h1{
  font-size: 3.6rem;
  padding-bottom: 7.7rem;
  text-align: center;
}

.blog-post-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.blog-post{
  width: 205px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post img{
  width: 100%;
  padding-bottom: 2rem;
}

.blog-post-title{
  font-size: 1.6rem;
  color: var(--green);
  padding: 0 1.2rem
}

.divider{
  width: 100%;
  height: 1px;
  background-color: var(--grey);
  margin: 0.5rem 0;
}

.blog-post-description{
  font-size: 1.2rem;
  color: var(--darker-grey);
  padding: 0 1.2rem 2.1rem;
}

/* FOOTER SECTION */
footer{
  background-color: var(--grey);
  font-size: 12px;
  width: 100%;
  
}

footer .logo{
  padding: 2.6rem 0 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer h3{
  color: var(--green);
}

.footer-links-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.footer-links a{
  text-decoration: none;
  color: var(--grey400);
  cursor: pointer;
}

.copyright{
  padding: 5.5rem 0 3.8rem;
  color: var(--grey500);
  text-align: center;
}